@model Trepapp.Models.Sector

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>Está seguro que quiere eliminar el sector??</h3>
<div>
    <h2>Info del sector</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lugar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UrlImagen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UrlImagen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UrlLocalizacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UrlLocalizacion)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="SectorId" />
        <a class="btn btn-default" asp-action="Index">No, volver</a>
        <input type="submit" value="Si, eliminar" class="btn btn-danger" />
    </form>
</div>
