@model Trepapp.Models.Escalador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Escalador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Llinatge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Llinatge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreuElectronic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreuElectronic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
