@model Trepapp.Models.Via

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Via</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Grado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SectorId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SectorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ViaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
